<div id="<%= dom_id horse %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= horse.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Species:</strong>
    <%= horse.species %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Single:</strong>
    <%= horse.single %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sexuality:</strong>
    <%= horse.sexuality %>
  </p>
</div>
