<div id="<%= dom_id horse %>">
  <% if horse.featured_image.attached? %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Featured image:</strong>
      <%= image_tag horse.featured_image %>
    </p>
  <% end %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= horse.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Species:</strong>
    <%= horse.species %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Single:</strong>
    <%= horse.single %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sexuality:</strong>
    <%= horse.sexuality %>
  </p>
</div>
